{% extends 'base.html' %}

{% block title %}Registered Users{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Hello {{ request.user.username }}. These are our registered users today</h2>
    {% if users %}
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">{{ user.username }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-warning text-center" role="alert">
        No users registered yet.
    </div>
    {% endif %}
</div>
{% endblock %}
