<!-- templates/navbar.html -->
<div class="navbar">

    <a href="/" class="btn" style="color: white;">LOGO</a>

<div class="nav-buttons">
    {% if not request.user.is_authenticated %}
        <button onclick="window.location.href='{% url 'login' %}'">Login</button>
        <button onclick="window.location.href='{% url 'register' %}'">Register</button>
    {% else %}
        <button onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    {% endif %}
</div>

</div>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #333;
        color: white;
        padding: 15px 30px;
    }

    .logo {
        font-size: 20px;
        font-weight: bold;
    }

    .nav-buttons {
        display: flex;
        gap: 10px;
    }

    .nav-buttons button {
        background: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    .nav-buttons button:hover {
        background: #0056b3;
    }


</style>

<script>
    function home() {
        window.location.href = "/";
    }

</script>
